SpeechRecognition
PyAudio
edge-tts
pygame
psutil
pyautogui
Pillow
google-generativeai
face_recognition
dlib
cmake
smtplib
requests
wikipedia
pywhatkit
pyjokes
pyttsx3
PySide6
comtypes
threading
math
random
datetime
webbrowser
os
asyncio
getpass
cv2
